// COLORS
$font-first-color:rgba(255, 255, 255, 1);
$font-second-color: rgb(32, 37, 58);
$font-third-color: rgba(116, 121, 140, 1);
$font-fourth-color: rgba(230, 0, 0, 1);

// TEXT
$font-text: 'Roboto', sans-serif;
$font-text-color:rgba(0, 0, 0, 1);



