@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.button {
    position: relative;
    top: 256px;
	@include dimension($width: 64px, $height: 64px);
    @include flex($alignItems: center);
    @include margin(20px);
	@include border($borderRadius: 6px);
	background-color: #fff;
}

.buttonlogo {
    @include dimension($width: 32px, $height: 32px);
}

