@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.cardNutrients {
    @include dimension($width: 258px, $height: 124px);
    @include flex();
    gap: 24px;
    background: rgba(251, 251, 251, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0212);
    @include border($borderRadius: 5px);
    border: 1px solid black;
}

.cardIconWrapper {
    @include dimension($width: 60px, $height: 60px);
    @include flex();
    background-color: rgba(230, 0, 0, 0.212);
    @include border($borderRadius: 6px);
    position: relative;
}

.calorieIcon {
    @include dimension($width: 19px, $height: 19px);
}

.valueNutrient {
    @include textStyle(
        $fontWeight: 700,
        $fontSize: 1.25rem,
    )
}

.titleNutrient {
    @include textStyle(
        $fontWeight: 500,
        $fontSize: 0.875rem,
        $color: $font-third-color,
    )
}