@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.aside {
    @include dimension($width: 117px, $height: 100%);
    background-color: $font-text-color;
    @include flex($justifyContent: end, $orientation: column);
    // border: 2px solid red;
    padding: 3rem 0;
}

.sidebarbutton {
    flex: 1; 
    @include flex($orientation: column);
    gap: 20px;
    // border: 1px solid gold;

    @media (max-width: 1024px) {
        gap: 15px;
    }
}

.copyright {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    @include textStyle($fontWeight: 500, $fontSize: 0.875rem, $color: #fff);
}